body {
    background-color: #f7f7f7;
    font-family: verdana;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
}

#title,
.subtitle,
.post-title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    color: #505050;
    text-decoration: line-through;
}

.post-title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    border: 3px solid #505050;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post-image {
    margin-bottom: 15px;
}

.contacts-list {
    list-style-type: none;
    padding-left: 15px;
}

.contacts-list li a {
    text-decoration: none;
}